---
layout: default
---

<div class="row">
  <div class="large-12 columns">
    <h1>Koalas</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="callout">
      <div class="row">
        <ul class="post-list">
          {% for post in site.categories.koalas %}
            {% if post.categories[2] %}
              <li>
                <a href="{{ post.url }}">
                  <span style="font-size:0.7em;">week</span>
                  {{ post.categories[2] | remove: "week-" }}
                  |
                  <span style="font-size:0.7em;">
                  {{ post.title | slice: 0, 3 }}
                  </span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
          {% for post in site.posts %}
            {% if post.categories contains 'koalas' %}
              <li>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                  <h3>
                    {{ post.title | escape }},{{  }}
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </h3>
            </a>
            <span>
              {{ post.excerpt }}
            </span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
    </div>
  </div>
</div>

<div class="row"></div>

